<div class="fields">

	<%= f.input :done, :label=>false, :wrapper=>false, :disabled=>!@removable %>
    <%= f.input :name, :label=>false, :wrapper=>false, input_html: { style: "width:280px!important" } , :disabled=>!@removable%>
    <%= link_to_remove_fields "remove", f if @removable %>

</div>

