
<%= simple_form_for(list, :remote=>true) do |f| %>

	<h3><%= list.user.first_name %>'s to do list</h3>

	<% if user_signed_in? && list.user==current_user %>
		<%= link_to_add_fields "Add something!", f, :list_items %>
	<% else %>
		<div style="height:9px;width:100%"></div>
	<% end %>
	<%= f.submit "Save list!", :class=>"btn btn-success pull-right" if @removable %>

	<br/><br/>
	<%= f.fields_for :list_items do |ff| %>
		<%#= ff.input :name %>
		<%= render 'lists/list_item_fields', :f=>ff %>
	<% end %>
<% end %>

