<h2>Welcome to your to do list console!</h2>

<div class="row">
	<div class="span6 list">
		<div id="list<%= @user.current_list.id %>" class="list_inset">
			<%= render 'list', :list=>@user.current_list, :@removable=>true %>
		</div>
	</div>

	<div class="span6 list">
		<% if @partner %>
			<div id="list<%= @partner.current_list.id %>" class="list_inset">
				<%= render 'list', :list=>@partner.current_list, :@removable=>false %>
			</div>
		<% elsif @invitation %>
			*/ the user has followed an invitation link, let them accept it
			<%= link_to "Accept #{@inviter.first_name}'s invitation!", accept_invitation_path(@invitation.key) %>
		<% else %>
			<%= render 'invitations/invite' %>
		<% end %> 
	</div>
</div>

<div class="row">
	<div class="span12">
		<h3>The chat zone</h3>

	</div>
</div>

<script>

  function update()
  { 
	<% if @partner %>
		$.get('/lists/data/<%= current_user.partner.current_list.id %>', function(data)
		{
		 $('#list<%= current_user.partner.current_list.id %>').html(data);
		});
	<% end %>
  }

$(document).ready(function($){
  window.setInterval('update()', 10*1000);
});
</script>