<h2>Sign up</h2>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <%= f.input :first_name, :autofocus => true %>
  <%= f.input :last_name %>
  
  <%= f.input :email %>
  <%= f.input :password %>

	<%= f.submit "Sign up", :class=>'btn btn-success' %>
<% end %>

<%= render "devise/shared/links" %>
