<% content_for :title do %>
	<%= @user.first_name %> has accepted your invitation to join your to-do-list on HoldMe2It! 
<% end %>

<% content_for :teaser do %>
	HoldMe2It is a to do list app that lets your friends keep you honest about the things you get done in the day.
<% end %>

<h1><%= @user.first_name %> has accepted your invitation to join your to-do-list on HoldMe2It! </h1>

<p>To get started, follow this link:</p>
<p><%= link_to "#{@user.first_name}'s to do list", lists_url %>