<% content_for :title do %>
	<%= @user.first_name %> wants you to join his to-do-list on HoldMe2It! 
<% end %>

<% content_for :teaser do %>
	HoldMe2It is a to do list app that lets your friends keep you honest about the things you get done in the day.
<% end %>

<h1>You've received an invite to join <%= @user.first_name %>'s to-do-list. </h1>

<p>To get started, follow this link:</p>
<p><%= link_to "#{@user.first_name}'s to do list", view_invitation_url(:key=>@key) %>