<% content_for :title do %>
	Welcome to HoldMe2It, <%= @user.first_name %>! 
<% end %>

<% content_for :teaser do %>
	Thanks for joining HoldMe2It, a to-do list app that lets a friend keep you honest about the things you get done in the day.
<% end %>


<p>To get started, follow this link:</p>
<p><%= link_to "HoldMe2It", root_url %>