<%= simple_form_for(new_invitation, :url=>create_invitation_path) do |f| %>
  
	<div class="row">
		<div class="span3">
    		<%= f.input :friends_email, :label=>false, :placeholder=>"your friend's email", :html_attributes=>{:placeholder=>"test"} %>
    	</div>

    	<div class="span pull-right">
    		<%= f.submit "Send invite!", :class=>'btn btn-success' %>
    	</div>
    </div>

<% end %>
