
<h3>Invite a friend to get started!</h3>
<%= render 'invitations/form' %>

<% if @sent_invitations %>
	<ul>
		<% @sent_invitations.each do |invite| %>
			<li>
				<%= invite.friends_email %>
				<%= link_to "Cancel", cancel_invitation_path(invite.key) %>
			</li>
		<% end %>
	</ul>
<% end %>
