<div id="Modal_sign_up" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <%= simple_form_for((User.new), :as => resource_name, :url => registration_path(resource_name)) do |f| %>
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">One more step!</h3>
    </div>
    <div class="modal-body" style="text-align:center">
      <p>You'll need to create an account so that we remember you for next time.</p>

        <div style="margin:0 auto;">

          <%= f.input :first_name, autofocus: true %>
          <%= f.input :last_name %>

          <%= f.input :invitation_id, :as => :hidden, :input_html => { :value => @invitation.id }%>

          <%= f.input :email, :label => "Email", :value=> @invitation.friends_email %>
          <%= f.input :password, :label => "Password" %>

        </div>

    </div>
    <div class="modal-footer" style="text-align:center">
      <%= f.button :submit, "Get started and join in!", :class => "btn btn-large btn-success" %>
    </div>
  <% end %>
</div>