<h2>Welcome to your to do list console!!</h2>

<div class="row">
	<div class="span6 list" style="background:url('/assets/paper1.png')">
		<div class="span6">
			<div style="margin-left:100px">
				<a href="#Modal_sign_up" role="button" class="btn btn-large btn-success" data-toggle="modal" style="margin-top:8px">Start your own to do list!</a>
			</div>
		</div>
	</div>

	<div class="span6 list" style="background:url('/assets/paper2.png')">
		<%= render 'lists/list', :list=>@invitation.user.current_list %>
	</div>
</div>

<div class="row">
	<div class="span12">
		<h3>The chat zone</h3>

	</div>
</div>


<%= render 'modal_sign_up' %>