

<!-- Jumbotron -->
<div class="jumbotron">
	<h1>Entrepreneurs holding each other to their daily to do lists.</h1>

	<div class="title_row">
		<div class="title_pic">
			<div class="index_video">
				<%= image_tag "diagram.png" %>
			</div>
		</div>

		<div class="title_text">
			<p class="lead">
				Writing to do lists is a good habit. But it's hard to stay motivated. <br/><br/>HoldMe2It keeps you honest about your daily productivity by sharing what you get done with a friend.
			</p>

			<%= link_to "Get started!", lists_path, :class=>"btn btn-large btn-success" %>
		</div>
	</div>


</div>