
/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push-bottom {
  height: 60px;
}

#footer {
  background-color: #f5f5f5;
  padding:8px;
  
  .terms {
  text-align:right;
  padding-top:10px;
  }

  .v_offset {
  margin-top:12px;
  }

  .social {
  padding-top:8px;
  text-align:center;
  }
  
  .phone {
  margin-top:10px;
  font-size: 22pt;
  }
}


@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}