#header {
	.sign_in_links {
		display:block;
		margin-right:0px;
		> li > a {
		color:#5398CF;
		}
	}
	.v_offset {
	margin-top:16px;
	}

	.phone {
	font-size: 15.5pt;
	width:240px;
	float:right;
	}

	.logo {
	width:230px;
	}

	.header_right {
	width:240px;
	  text-align: right;
	  > ul {
	    float:right!important;
	  }
	}
	.small {
	font-size:85%;
		a{
		padding-left:0px;
		}
	}
}

