// Place all the styles related to the lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.list {
	background:url('/assets/paper1.png');
	min-height:594px;
}

.list_inset {
	padding:10px;
	margin-left:50px;
}
