// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variables";

.jumbotron {
	text-align: center;

	h1 {
		font-size: 60px;
		line-height: 1;
	}
	.lead {
		font-size: 24px;
		line-height: 1.25;
	}

	.title_pic {
		float:left;
		margin:30px 0 0 15px;
		padding:10px;
		width:500px;
	}

	.title_text {
		float:left;
		@include gray_border;
		margin-top:90px;
		padding:20px 10px;
		width:377px;
	}

	.btn {
		font-size: 21px;
		padding: 14px 24px;
	}
}
