
$primary_color: #7FC040;

@mixin gray_border {
      border: 1px solid #d3d3d3;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.btn-custom {
  background-color: hsl(98, 80%, 17%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#46a011", endColorstr="#224e08");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#46a011), to(#224e08));
  background-image: -moz-linear-gradient(top, #46a011, #224e08);
  background-image: -ms-linear-gradient(top, #46a011, #224e08);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #46a011), color-stop(100%, #224e08));
  background-image: -webkit-linear-gradient(top, #46a011, #224e08);
  background-image: -o-linear-gradient(top, #46a011, #224e08);
  background-image: linear-gradient(#46a011, #224e08);
  border-color: #224e08 #224e08 hsl(98, 80%, 12.5%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.29);
  -webkit-font-smoothing: antialiased;
}
