<div class="fields">

	<%= f.input :done, :label=>false, :wrapper=>false %>
    <%= f.input :name, :label=>false, :wrapper=>false, input_html: { style: "width:280px!important" } %>
    <%= link_to_remove_fields "remove", f %>

</div>

