<div id="footer" class="navbar-static-bottom">
  <div class="container">
  	
    <div class="row">
      <div class="span4 v_offset">
        <% if user_signed_in? %>
        We think you're awesome.
        <% else %> 
        <%= link_to "Sign up today", new_user_registration_path %>. You know you want to.
        <% end %>
      </div>

      <div class="span4 terms">
        <div>
        <%#= link_to "Terms and Conditions", tos_path %>
        </div>
        <div>
        <%#= link_to "Privacy Policy", privacy_path %>
        </div>
        <div>
        <%#= link_to "For Businesses", business_path %>
        </div>
      </div>
      <div class="span social pull-right">

      <%= facebook_link %>
      <%= twitter_link %>

      <%#= link_to "or contact us directly", contact_path %>

      </div>

      

    </div>
</div>
