<div class="navbar navbar-static-top" id="header">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to(image_tag("logo.png", :class => "logo"), root_path, :class=> "brand") %>
      <ul class="nav v_offset">
        <li>
          <%= link_to "My list for today", lists_path %>
        </li>

        <li>
          <%= link_to "How it works", root_path %>
        </li>
      </ul>

      <div class="pull-right header_right">
        <ul class="nav sign_in_links v_offset">
          <% if user_signed_in? %>
            <li><%= link_to "My account", edit_user_registration_path %></li>
            <li><%= link_to "Log out", destroy_user_session_path, :method => :delete %></li>
          <% else %>
            <li><%= link_to "Sign up", new_user_registration_path %></li>
            <li><%= link_to "Sign in", new_user_session_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>