<!DOCTYPE html>
<html>
<head>
  <title>Holdme2it</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="wrap"> <%# this is for the footer rendering %>
<%= render 'layouts/header' %>
	<div id="push-top"></div>
	
	<div class="container">
		<% flash.each do |type, message| %>
			<div class="alert <%= flash_class type %>">
			<button class="close" data-dismiss="alert">x</button>
			<%= message %>
			</div>
		<% end %>
	</div>

	<div class="container" style="margin-bottom:25px">
		<%= yield %>
	</div>

	<div id="push-bottom"></div>
</div>

<%= render 'layouts/footer' %>
<%#= render 'layouts/third_party/google_analytics' %>

</body>
</html>
